hr{
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.tab-content{
    margin-top: 20px !important;
}

.form-details{
    margin-top: 30px !important;
}

.form-button{
    margin-top: 20px;
}

.eowner-buttons{
    margin-top: 30px;
    
}

.eowner-details p{
    font-size: 20px;
}

label:after{
    content: "*";
    color: red;
}

.not-required:after{
    content: "" !important; 
    color: white !important;
}